<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
	{% include '../includes/head.twig' with { title: title|default('Farard Darver - CEO of Healthcare International Research') } %}
</head>
<body class="min-h-screen flex flex-col bg-black">
	{% include '../includes/header.twig' %}
	{% block main %}{% endblock %}
	{% include '../includes/footer.twig' %}
</body>
</html>
