<footer class="-z-10 fixed inset-x-0 bottom-0 bg-orange-400 h-8">
    <div class="w-full relative max-w-6xl mx-auto px-16 text-sm pt-1 text-center">
        <p>© {{ now|date('Y' )}} All rights reserved</p>
    </div>
</footer>
