{# <header class="bg-black fixed inset-x-0 top-0 z-10">
	<div class="max-w-6xl mx-auto py-3 px-4 flex items-center space-x-6">
		<a href="#" class="text-teal-500 font-heading text-4xl">FD</a>
		<nav class="text-white">
			<ul class="flex space-x-3 whitespace-nowrap">
				<li><a href="/">Home</a></li>
			</ul>
		</nav>
	</div>
</header> #}
